body{
  margin:0;
  font-family: 'Ubuntu', sans-serif;
background-color:#89b6ff;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
 /* height: 70%;
  width: 70%;======================remove if want constant size*/
}

p{
  padding-left: 250px;
  padding-right: 250px;
  font-size: 25px;
  display: inline-block;
  font-family: font-family: 'Ubuntu', sans-serif;
  line-height: 2.0;
  color: rgb(58, 58, 58);
}
ul{
    padding-left: 340px;
  padding-right: 340px;
  font-size: 25px;
  display: inline-block;
  font-family: font-family: 'Ubuntu', sans-serif;
  line-height: 2.0;
  color: rgb(58, 58, 58);
}

a{
  color: rgb(51, 51, 51);
}

figcaption{
  color: rgb(119, 119, 119);
}

input, textarea { 
  padding: 9px; 
  border: solid 1px #E5E5E5; 
  outline: 0; 
  width: 200px; 
  background: #FFFFFF; 
  } 
 
textarea { 
  width: 400px; 
  max-width: 400px; 
  height: 150pchangex; 
  line-height: 150%; 
  } 
 
input:hover, textarea:hover, 
input:focus, textarea:focus { 
  border-color: #C9C9C9; 
  } 
 
 
.submit input { 
  width: auto; 
  padding: 9px 15px; 
  background: #617798; 
  border: 0; 
  font-size: 14px; 
  color: #FFFFFF; 
}

.headers {
  size: 100px;
}

.drone_headers {
  padding-left: 270px;
}

#about_image {
  height: 30%;
  width: 30%;
}

.contact_form {
  background-color:rgb(198, 237, 255);
  height: 400px;
  width: 500px;
  border-radius: 20px;
}


h1{
    color:rebeccapurple;
}

/* background color to top navigation */
.topnav {
    background-color:#2faf3c;
    overflow: hidden;
}

/* links within nav bar */
.topnav a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 35px;
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color:lightgreen;
    color: whitesmoke;
}

.box{
    display:block; 
    float: inherit;
    border-style: dashed;
    margin:0 3em 0 3em;
    background-color:rebeccapurple;
    border-color: pink; 
    color:white; 
}

/* highlights nav link of current tab */
.active {
    background-color:pink;
    color: white;
}

/* hide links on small screens */
.topnav .icon {
    display: none;
}

label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + h2{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + h2{ /* (RADIO CHECKED) IMAGE STYLES */
  font-weight:bold;
  font-size: 45px;
}

.rating {
  display:inline-block;
    color:rebeccapurple;
} 

label{
  display:inline-block;
}

.review {
  background-color:lightpink;
    margin-left: 400px;
  margin-right: 400px;
}

.form{
  margin-left: 500px;
}

h1 {
  font-size: 100px;
    color:white;
}

h2 {
  font-size: 75px;
  line-height: 0.4;
    color:rebeccapurple;
}

h3{
  margin-left: 30px;
  font-size: 25px;
  display: inline-block;
  font-family: font-family: 'Ubuntu', sans-serif;
  line-height: 2.0;
  color: white;
}

.add_review{
  background-color: lightgreen;
  margin-left: 400px;
  margin-right: 400px;
  text-align: left;
    color:white
}

#scratch_images{
  width: 300px;
  height: 150px;
}

#toc_1 {text-align: center}
#toc_2 {text-align: center}
#toc_3 {text-align: center}
#design {text-align: center}
#Courses {padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;}